body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Libre Franklin', sans-serif;
}

.cabeça {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo h1 {
    font-size: 1.6rem;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    margin-bottom: .1rem;
}

strong {
    color: rgb(0, 0, 0);
}

.titulo p {
    font-size: 1rem;
    font-weight: 300;
}

.formulario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

form {
    text-align: center;
}

.email {
    width: 15rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 1.8rem;
    border-radius: 1.5rem;
    border: 1px solid hsl(223, 100%, 88%);
    outline: none;
    font-size: .9rem;
    margin-bottom: 1rem;
}

.email_erro {
    width: 15rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 1.8rem;
    border-radius: 1.5rem;
    border: 1px solid hsl(0, 98%, 59%);
    outline: none;
    font-size: .9rem;
    margin-bottom: 1rem;
}

.btn {
    width: 17rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    color: whitesmoke;
    background-color: hsl(223, 87%, 63%);
    border: 1px solid hsl(223, 100%, 88%);
    box-shadow: -1px 9px 10px -7px hsl(223, 87%, 63%);
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    background-color: hsla(223, 93%, 70%, 0.856);
}

.ilustração {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ilustração img {
    width: 80%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}

.icon-social {
    width: 9rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.icon-social a {
    font-size: 1.2rem;
}

.circulo {
    padding: .5rem;
    border-radius: 50%;
    border: 1px solid #eaedf4;
    color: hsl(223, 87%, 63%);
    transition: .2s;
}

.circulo:hover {
    background-color: hsl(223, 87%, 63%);
    color: whitesmoke;
}

a:nth-child(1) .circulo {
    padding-left: .6rem;
    padding-right: .6rem;
}

.copy {
    font-size: .8rem;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}

.erro {
    font-size: 1rem;
    color: hsl(0, 98%, 59%);
    margin-left: 1rem;
}

@media (min-width: 600px) {
    .titulo h1 {
        font-size: 3rem;
    }
    .titulo p {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    form {
        text-align: justify;
    }
    .email {
        width: 25rem;
        margin-bottom: 0;
        margin-right: 1rem;
        padding-top: .9rem;
        padding-bottom: .9rem;
    }
    .btn {
        width: 10rem;
        padding-top: .9rem;
        padding-bottom: .9rem;
    }
    .ilustração img {
        width: 70%;
    }
    .container-erro {
        width: 100%;
        background-color: blueviolet;
    }
    .erro {
        font-size: 1rem;
        color: hsl(0, 98%, 59%);
        margin-left: 1rem;
        display: none;
    }
}